<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <title>gulpcli</title>
  </head>
  <body>
    <div class="bignav tac row por">
  <div class="logo left">
    <a class="por" href="./index.html"><img src="./static/images/logo.png" alt=""></a>
  </div>
  <div class="right">
    <ul class="nav-list row fs-14 upper">
        
          <li class="">
            <a  href="./index.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    HOME <br>
                   <span class="ts"> 首页</span>
                </p>
              </div>
            </a>
          </li>
         
          <li class="">
            <a  href="./about.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    about <br>
                   <span class="ts"> 关于</span>
                </p>
              </div>
            </a>
          </li>
         
          <li class="">
            <a  href="./work.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    work <br>
                   <span class="ts"> 案例</span>
                </p>
              </div>
            </a>
          </li>
         
          <li class="">
            <a  href="./service.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    service <br>
                   <span class="ts"> 服务</span>
                </p>
              </div>
            </a>
          </li>
         
          <li class="">
            <a  href="./news.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    news <br>
                   <span class="ts"> 新闻</span>
                </p>
              </div>
            </a>
          </li>
         
          <li class="">
            <a  href="./contact.html">
              <div class="nav-blank ts"></div>
              <div class="nav-t-c">
                <p class="nav-t upper ts">
                    contact <br>
                   <span class="ts"> 联系我们</span>
                </p>
              </div>
            </a>
          </li>
         
    </ul>
  </div>
</div>
<div class="smallnav ts bignav @@miniClass" id='smallnav'>
  <div class="slogo left">
   <a href="./index.html"> <img class="normal-logo" src="../static/images/minilogo.png" alt="">
    <img class="ser-logo" src="../static/images/ser-logo.png" alt=""></a>
  </div>
  <div id='mune' class="right mune ts">
    <img src="../static/images/mune.jpg" alt="">
  </div>
</div>
<div id="bignavshow" class="bignavshow pof">
  <div class="in">
    <div class="row">
      <div class="left">
        <a href="./index.html">
          <img src="../static/images/wlogo2.png" alt="" class="wlogo">
        </a>
      </div>
      <div class="right">
        <img id=close src="../static/images/close.png" alt="" class="close">
      </div>
    </div>
    <div class="navlist upper fb">
        
          <a href="./index.html" class="fs-72 ts ">
              HOME <span class="fs-24 ts">首页</span>
          </a>
        
          <a href="./about.html" class="fs-72 ts ">
              about <span class="fs-24 ts">关于</span>
          </a>
        
          <a href="./work.html" class="fs-72 ts ">
              work <span class="fs-24 ts">案例</span>
          </a>
        
          <a href="./service.html" class="fs-72 ts ">
              service <span class="fs-24 ts">服务</span>
          </a>
        
          <a href="./news.html" class="fs-72 ts ">
              news <span class="fs-24 ts">新闻</span>
          </a>
        
          <a href="./contact.html" class="fs-72 ts ">
              contact <span class="fs-24 ts">联系我们</span>
          </a>
        
    </div>
    <div class="row nav-info mob-hide">
      <div class="col-13 col-mob-24 row">
        <div class="left img">
          <img src="../static/images/ma.jpg" alt="" class="ma">
        </div>
        <div class="left fs-14 fb cfff">
            <p class="t">致电我们</p>
            <p>Tel：15810123498   </p>
            <p>Fax：13651338108   </p>
            <p>E-mail：1014537377@qq.com</p>
        </div>
      </div>
      <div class="col-9 col-mob-24">
        <div class=" fs-14 fb cfff">
            <p class="t">在线洽谈合作</p>
            <p>QQ：1014537377   </p>
            <p>QQ：252111556   </p>
            <p>E-mail： 252111556@qq.com</p>
        </div>
      </div>
    </div>
    <p class="copyright fs-12 cfff tac">Copyright © 2016版权所有 2009-2016 京ICP备09004940号Beijing Jollycolors VIS Solutions Co., Ltd. All rights reserved. </p>
  </div>
</div>
  </body>
</html>
